.container {
  display: flex;

  border-radius: 12px;
  padding: 32px;
  flex-direction: column;
  width: 250px;
  margin-bottom: 24px;
}

.searchbox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
  margin-bottom: 24px;
}

.searchbox input {
  height: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--btn-hover);
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.numberInput {
  appearance: none;
  -moz-appearance: textfield;
}
