.contact-form {
  display: flex;
  align-items: center;
  box-shadow: 4px 5px 18px -6px rgba(141, 147, 167, 0.79);
  border-radius: 12px;
  padding: 32px;
  flex-direction: column;
  width: 250px;
  margin-bottom: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.input {
  margin-top: 6px;
  padding: 6px;
  background-color: transparent;
  outline: none;
  border: 1px solid #1687a7;
  border-radius: 4px;
}

.containedBtn {
  background-color: #1687a7;
}

/* .btn {
  width: 120px;
  padding: 8px;
} */
