.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 12px;
  background-color: var(--white);
  background-image: linear-gradient(
      rgba(246, 245, 245, 0.8),
      rgba(246, 245, 245, 0.8)
    ),
    url("../../assets/heroimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
